$font1: "Futura PT",
sans-serif;
$font2: "Misto";

a {
	text-decoration: none;
}

body {
	margin: 0;

	color: #00202b;

	font-family: $font1;
	font-size: 1vw;
}

.container {
	position: relative;

	width: 79.84375vw;
	margin: 0 auto;
}


.section-1 {
	position: relative;

	background: url("../img/header_bg.jpg") center top no-repeat;
	background-size: 100% auto;

	&::before {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;

		display: block;

		width: 100%;
		height: 26.04vw;

		content: "";

		background: #1B141B;
	}

	//min-height: 44.427083vw;
	.container {
		padding-top: 3.4375vw;
	}

	.header-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		width: 42.70833vw;

		.logo {
			display: block;

			width: 9.427083vw;

			img {
				display: block;

				width: 100%;
			}
		}

		.brand {
			display: block;

			width: 5.72916vw;

			img {
				display: block;

				width: 100%;
			}
		}
	}

	.header-info {
		margin-top: 1.0416vw;
		margin-left: 10.052083vw;

		text-transform: uppercase;

		color: #ffffff;

		font-weight: 500;
		font-size: 1.14583vw;

		.go-text {
			display: inline-block;

			margin-top: 1.0416vw;

			color: #ffffff;
			border-bottom: 2px solid #ff5900;

			&:hover {
				border-color: transparent;
			}
		}
	}

	.header-title {
		width: 46.25vw;
		margin-top: 5.31417vw;

		.big {
			display: block;

			text-transform: uppercase;

			color: #ffffff;

			font-family: $font2;
			font-weight: 400;
			font-size: 8.85416vw;
			line-height: 0.8;
		}

		.small {
			display: block;

			text-align: right;
			letter-spacing: 0.2vw;
			text-transform: uppercase;

			color: #263a41;

			font-weight: 500;
			font-size: 2.0833vw;
			line-height: 1;
		}
	}

	.right-img {
		position: absolute;
		top: 3.4375vw;
		right: 0;

		display: block;

		width: 29.635416vw;

		img {
			display: block;

			width: 100%;
		}
	}

	.header-text {
		width: 29.635416vw;
		margin-top: 1.875vw;

		color: #00202b;

		font-size: 1.145833vw;
		line-height: 1.6666vw;

		>p {
			margin-bottom: 1.0416vw;
		}

		.vdoh-link {
			display: block;

			letter-spacing: 0.10416px;
			text-transform: uppercase;

			font-weight: 500;

			a {
				color: #00202b;

				&:hover {
					border-bottom: 2px solid #ff5900;
				}
			}

		}

		.arrow-down {
			margin-top: 1.30208vw;

			a {
				display: block;

				width: 1.927vw;
				height: 1.927vw;

				cursor: pointer;

				background: url("../img/icon-arrow.png") center center no-repeat;
				background-size: contain;
			}
		}
	}

}

.section-2 {
	width: 100%;
	padding: 0.406vw 0;

	border-top: 1px solid #00202b;
	border-bottom: 1px solid #00202b;

	//margin-top: 3.958333vw;
	.container {
		display: flex;
		align-items: center;

		text-transform: uppercase;

		color: #00202b;

		font-weight: 500;
		font-size: 1.14583vw;

		.left {
			width: 49.739583vw;

			text-align: center;
		}

		.right {
			display: flex;
			align-items: center;

			margin-left: 0.572916vw;

			a.scroll {
				color: #00202b;
				border-bottom: 2px solid #ff5900;

				&:hover {
					border-color: transparent;
				}
			}

			.brand {
				display: block;

				width: 5.72916vw;
				margin-left: 3vw;

				img {
					display: block;

					width: 100%;
				}
			}
		}
	}
}

.section-3 {
	overflow: hidden;

	width: 100%;
	//padding-bottom: 7.2916vw;
	padding-top: 2.083vw;

	.mobile-text {
		display: none;
	}

	.tabs {
		overflow: visible;

		padding-left: 20.052vw;

		.tab {
			position: relative;

			width: auto;
			height: 2.604vw;

			cursor: pointer;
			user-select: none;
			text-align: center;
			letter-spacing: 0.07vw;
			text-transform: uppercase;

			opacity: 0.5;
			color: #00202b;

			font-weight: 500;
			font-size: 0.9375vw;
			line-height: 1.302vw;

			&.active {
				opacity: 1;
			}

			+.tab {
				margin-left: 4.947916vw;
			}

			+.active {
				margin-left: 6.25vw;
			}

			&.active {
				+.tab {
					margin-left: 6.25vw;
				}
			}
		}

		.button-next,
		.button-prev {
			position: absolute;
			top: 0;

			display: block;

			width: 1.302vw;
			height: 1.302vw;

			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.button-next {
			right: -2.3958vw;

			background: url("../img/icon-right.png") no-repeat center center;
			background-size: contain;
		}

		.button-prev {
			left: -2.3958vw;

			background: url("../img/icon-left.png") no-repeat center center;
			background-size: contain;
		}

		.home {
			position: absolute;
			top: -1.71875vw;
			left: 50%;

			display: block;

			width: 1.5625vw;
			height: 1.5625vw;
			margin-left: -0.78125vw;

			cursor: pointer;

			background-image: url("../img/home.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	.slider {
		width: 100%;
		margin-top: 3vw;

		.slider-direction {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			-ms-flex-align: center;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;

			margin: 0 3vw 5vw;

			color: #f96000;

			font-weight: 500;
			font-size: 3vw;
			line-height: .8;
		}

		.info {
			width: 9.375vw;
			padding: 0 1.97916vw 0 4.947916vw;
			padding-top: 1.302vw;

			font-weight: 400;
			font-size: 1.14583vw;
			line-height: 1.666vw;

			.orange {
				margin-top: 1.302vw;

				letter-spacing: 0.10416vw;
				text-transform: uppercase;

				color: #ff5900;

				font-weight: 500;
			}
		}

		.item {
			display: flex;

			width: auto;
			height: 26.04166vw;
			min-height: 26.04166vw;
			margin-bottom: 1px;
			margin-left: 3.75vw;

			&:last-child {
				margin-right: 4.947916vw;
			}

			.img {
				width: 19.5833vw;

				img {
					width: 100%;
					height: 100%;

					object-fit: cover;
				}
			}

			.right {
				position: relative;

				display: flex;
				overflow: hidden;
				flex-direction: column;
				justify-content: center;

				box-sizing: border-box;
				width: 14.27083vw;
				height: 100%;
				padding: 1vw 0 1vw 1.7vw;

				.cat {
					letter-spacing: 0.08vw;
					text-transform: uppercase;

					color: #7f8f95;

					font-weight: 500;
					font-size: 0.833vw;
				}

				.title {
					margin: 1.04166vw 0;

					color: #00202b;

					font-weight: 400;
					font-size: 2.083vw;
					line-height: 1;

					a {
						display: none;

						width: 2.4vw;
						height: 2.4vw;
						margin-left: 1vw;

						vertical-align: bottom;

						background: url("../img/play.png") center center no-repeat;
						background-size: contain;

						&:hover {
							transform: scale(1.1);
						}
					}
				}

				.more {
					letter-spacing: 0.09vw;
					text-transform: uppercase;

					color: #00202b;

					font-weight: 500;
					font-size: 0.94vw;
				}

				.text {
					display: none;

					color: #00202b;

					font-weight: 400;
					font-size: 1.14583vw;

					p {
						margin-bottom: 1.5625vw;

						a {
							color: #00202b;
							border-bottom: 2px solid #ff5900;

							&:hover {
								border-color: transparent;
							}
						}

						span {
							border-bottom: 2px solid #ff5900;
						}
					}
				}

				.share {
					display: none;
					align-items: center;

					.label {
						letter-spacing: 0.08vw;
						text-transform: uppercase;

						font-weight: 500;
						font-size: 0.833vw;

						&::after {
							display: inline-block;

							width: 5.4166vw;
							height: 1px;
							margin-left: 0.677vw;

							content: "";
							vertical-align: middle;

							background: #000000;
						}
					}

					.social {
						display: flex;
						align-items: center;

						margin-left: 1.09375vw;

						a {
							display: block;

							height: 1.14583vw;

							background-repeat: no-repeat;
							background-position: center center;
							background-size: contain;

							+a {
								margin-left: 1.35416vw;
							}

							&.vk {
								width: 1.14583vw;

								background-image: url("../img/soc-vk.png");
							}

							&.fb {
								width: 0.572916vw;

								background-image: url("../img/soc-fb.png");
							}

							&.tw {
								width: 0.98958vw;

								background-image: url("../img/soc-tw.png");
							}
						}
					}
				}
			}

			@media all and (min-width: 1024px) {
				&:hover:not(.video-block) {
					.img {
						width: 0;

						opacity: 0;
					}

					.right {
						display: block;

						width: 33.85416vw;
						padding: 1.5625vw 4.166vw;

						border: 1px solid #00202b;
						background-color: #ffffff;

						.title {
							a {
								display: inline-block;
							}
						}

						.more {
							display: none;
						}

						.text {
							display: block;
						}

						.share {
							display: flex;
						}
					}
				}
			}

			&.video-block {
				width: 33.85413vw;

				perspective: 1000;

				>.cat {
					display: none;
				}

				.front,
				.back {
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					backface-visibility: hidden;
				}

				.flipper {
					position: relative;

					width: 100%;

					transition: 0.6s;

					transform-style: preserve-3d;
				}

				.front {
					z-index: 2;

					display: flex;

					transform: rotateY(0deg);
				}

				.back {
					transform: rotateY(180deg);

					img {
						display: block;

						width: 100%;
						height: 100%;

						object-fit: cover;
					}

				}

				&:hover {
					.flipper {
						transform: rotateY(180deg);
					}
				}
			}

		}
	}

	.address-block {
		margin-top: 2vw;

		text-align: center;
		text-transform: uppercase;

		opacity: 0.5;
		color: #00202b;

		font-weight: 300;
		font-size: 1vw;
		line-height: 0.8;
	}

	.disclaimer {
		margin-top: 0.2vw;
		margin-bottom: 0.2vw;

		text-align: center;
		letter-spacing: .3vw;
		text-transform: uppercase;

		opacity: 0.5;
		color: #00202b;

		font-weight: 300;
		font-size: 2.5vw;
		line-height: 0.8;

		+.address-block {
			margin-top: 0;
		}
	}
}

.section-4 {
	width: 100%;

	background-color: #f3ecdc;

	.test {
		padding: 3.4375vw 0 1vw;

		.top-line {
			display: flex;
			align-items: center;

			.logo {
				display: block;

				width: 5.72916vw;

				img {
					display: block;

					width: 100%;
				}
			}

			.title {
				display: flex;
				align-items: center;

				margin-left: 4.53125vw;

				.big {
					text-transform: uppercase;

					color: #00202b;

					font-family: $font2;
					font-weight: 400;
					font-size: 6.77083vw;
					line-height: 0.8;
				}

				.small {
					margin-left: 0.677vw;

					letter-spacing: 0.09vw;
					text-transform: uppercase;

					color: #00202b;

					font-weight: 500;
					font-size: 0.9375vw;
				}
			}
		}

		.counter {
			margin-top: 1.302vw;

			text-align: center;
			letter-spacing: 0.09vw;
			text-transform: uppercase;

			opacity: 0.5;
			color: #00202b;

			font-weight: 500;
			font-size: 0.9375vw;
		}

		.test-main {
			position: relative;

			margin-top: 3.125vw;

			.img-block {
				position: relative;

				display: block;

				width: 48.64583vw;
				height: 31.66vw;
				margin: 0 auto 0;

				img {
					position: absolute;

					display: none;

					user-select: none;
					pointer-events: none;

					&.img1 {
						top: 5.78125vw;
						left: 10.052vw;

						width: 26.614583vw;
					}

					&.img2 {
						top: 2.864583vw;
						left: 0;

						width: 35.46875vw;
					}

					&.img3 {
						top: 18.697916vw;
						left: 32.864583vw;

						width: 10.52083vw;
					}

					&.img4 {
						top: 1.77083vw;
						left: 25.052083vw;

						width: 23.59375vw;
					}

					&.img5 {
						top: 14.21875vw;
						left: 23.64583vw;

						width: 20.260416vw;
					}

					&.img6 {
						top: 0;
						left: 7.65625vw;

						width: 22.8125vw;
					}

					&.img7 {
						top: 11.875vw;
						left: 0.4166vw;

						width: 27.03125vw;
					}

					&.active,
					&.hover {
						display: block !important;
					}
				}
			}

			.right,
			.left {
				position: absolute;
				top: 8.17708vw;

				display: flex;
				align-items: center;
				justify-content: center;

				width: 14.9479vw;
				min-height: 5.78125vw;

				cursor: pointer;
				user-select: none;
				text-align: center;

				color: #00202b;
				border: 1px solid #00172a;

				font-weight: 400;
				font-size: 2.29166vw;
				line-height: 1;

				&:hover {
					border-color: #ff5900;
				}
			}

			.left {
				left: -5.88541vw;
			}

			.right {
				right: -5.88541vw;
			}
		}
	}

	.results {
		display: none;

		min-height: 48.9583vw;
		padding: 3.4375vw 0 5.2083vw;

		.logo {
			position: absolute;
			top: 0;
			left: 0;

			display: block;

			width: 5.72916vw;

			img {
				display: block;

				width: 100%;
			}
		}

		.title-mobile {
			display: none;

			@media all and (min-width: 1024px) {
				display: none !important;
			}
		}

		.left {
			position: absolute;
			top: 9.375vw;

			width: 48.697916vw;

			.img-block {
				position: relative;

				display: block;

				height: 31.66vw;

				img {
					position: absolute;

					display: none;

					user-select: none;
					pointer-events: none;

					&.img1 {
						top: 5.78125vw;
						left: 10.052vw;

						width: 26.614583vw;
					}

					&.img2 {
						top: 2.864583vw;
						left: 0;

						width: 35.46875vw;
					}

					&.img3 {
						top: 18.697916vw;
						left: 32.864583vw;

						width: 10.52083vw;
					}

					&.img4 {
						top: 1.77083vw;
						left: 25.052083vw;

						width: 23.59375vw;
					}

					&.img5 {
						top: 14.21875vw;
						left: 23.64583vw;

						width: 20.260416vw;
					}

					&.img6 {
						top: 0;
						left: 7.65625vw;

						width: 22.8125vw;
					}

					&.img7 {
						top: 11.875vw;
						left: 0.4166vw;

						width: 27.03125vw;
					}

					&.active {
						display: block !important;
					}
				}
			}

			.share {
				text-align: center;

				.label {
					margin-top: 2.34375vw;

					letter-spacing: 0.083vw;
					text-transform: uppercase;

					opacity: 0.5;
					color: #00202b;

					font-weight: 500;
					font-size: 0.9375vw;
					line-height: 1.35416vw;
				}

				.social {
					display: flex;
					align-items: center;
					justify-content: center;

					a {
						width: 3.125vw;
						height: 3.125vw;
						margin-top: 1.0416vw;

						cursor: pointer;

						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;

						+a {
							margin-left: 1.0416vw;
						}

						&.ok {
							background-image: url("../img/soc-ok-2.png")
						}

						&.tw {
							background-image: url("../img/soc-tw-2.png")
						}

						&.vk {
							background-image: url("../img/soc-vk-2.png")
						}

						&.fb {
							background-image: url("../img/soc-fb-2.png")
						}
					}
				}
			}
		}

		.right {
			display: none;

			margin-left: 40.2604vw;
			padding-top: 0.78125vw;

			.title {
				position: relative;
				z-index: 1;

				letter-spacing: 0.10416vw;
				text-transform: uppercase;

				color: #00202b;

				font-weight: 500;
				font-size: 1.14583vw;

				span {
					display: block;

					text-transform: uppercase;

					color: #00202b;

					font-family: $font2;
					font-weight: 400;
					font-size: 6.77083vw;
				}
			}

			.text {
				margin-top: 1.04166vw;
				margin-left: 9.739583vw;

				color: #00202b;

				font-weight: 400;
				font-size: 1.14583vw;
				line-height: 1.71875vw;

				>p {
					margin-bottom: 1.3vw;
				}

				a {
					color: #00202b;
					border-bottom: 2px solid #ff5900;

					&:hover {
						border-color: transparent;
					}
				}

				span {
					border-bottom: 2px solid #ff5900;
				}

				.other {
					letter-spacing: 0.104166vw;
					text-transform: uppercase;

					font-weight: 500;
				}
			}
		}
	}
}

.copy {
	height: auto !important;
	padding: 0.92vw 0 2.552vw;

	.text {
		text-align: center;
		letter-spacing: 0.09vw;
		text-transform: uppercase;

		opacity: 0.5;
		color: #00202b;

		font-weight: 500;
		font-size: 0.9375vw;
	}

}

.swiper-wrapper-btrjn34b73tt7 {
	.swiper-slide{
		&:first-child {
			.button-prev{
				display: none;
			}
		}
		&:last-child {
			.button-next{
				display: none;
			}
		}
	}
}
