@media screen and (max-width:1023px) {

  .container{
    width: 87.5vw;
  }


  .section-1{
    background-size: auto 123.75vw;
    min-height: 0;
    &::before{
      height: 123.75vw;
    }
    .container{
      padding-top: 5.625vw;
    }
    .header-row{
      width: 100%;
      .logo{
        width: 41.5625vw;
      }
      .brand{
        width: 25.9375vw;
      }
    }

    .header-info{
      display: none;
    }

    .header-title{
      width: 100%;
      margin-top: 10.3125vw;
      .big{
        font-size: 16.875vw;
      }
      .small{
        font-size: 4.0625vw;
        letter-spacing: 1.546875vw;
        color: #ffffff;
      }
    }

    .right-img{
      width: 100%;
      position: static;
      margin-top: 5.625vw;
    }

    .header-text{
      width: 100%;
      line-height: 6.5625vw;
      font-size: 4.6875vw;
      margin-top: 8.4375vw;
      >p{
        margin-bottom: 6.25vw;
      }
      .vdoh-link{
        letter-spacing: 0.46875px;
      }
      .arrow-down{
        margin-top: 7.5vw;
        a{
          width: 8.4375vw;
          height: 8.4375vw;
        }
      }
    }

  }

  .section-2{
    border: none;
    padding: 4.0625vw;
    margin-top: 0;
    background: #f96000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: #ffffff;
    max-width: 100%;
    box-sizing: border-box;
    .container{
      font-size: 3.75vw;
      width: auto;
      justify-content: space-between;
      .left{
        width: 57vw;
        text-align: left;
        color: #ffffff;
      }
      .right{
        margin-left: 0;
        a{
          color: #ffffff;
          border: none;
        }
      }
    }
  }

  .section-3{
    padding-bottom: 0;
    padding-top: 15.625vw;

    .mobile-text{
      display: block;
      color: #00202b;
      font-size: 4.6875vw;
      font-weight: 400;
      line-height: 6.5625vw;
      margin-bottom: 6.25vw;
    }

    .tabs{
      padding-left: 17.1875vw;
      .tab{
        height: 7.8125vw;
        font-size: 4.6875vw;
        letter-spacing: 0.35vw;
        line-height: 7.8125vw;
        +.tab{
          margin-left: 9.6875vw;
        }
        +.active{
          margin-left: 20vw;
        }
        &.active{
          +.tab{
            margin-left: 20vw;
          }
        }
      }
      .button-next,
      .button-prev{
        width: 7.8125vw;
        height: 7.8125vw;
      }
      .button-next{
        right: -10.9vw;
      }
      .button-prev{
        left: -10.9vw;
      }
    }

    .tabs-title{
      span{
        font-size: 16.5625vw;
        margin-left: 0;
        margin-bottom: 6.25vw;
      }
    }

    .slider{
      padding-left: 6.25vw;
      box-sizing: border-box;
      .info{
        display: none;
      }
      .item{
        margin-left: 0;
        +.item{
          margin-left: 16.5625vw;
        }
        display: block;
        height: auto;
        min-height: 125vw;
        width: 60vw;
        &:last-child{
          margin-right: 16.5625vw;
        }
        .img{
          width: 100%;
        }
        .right{
          width: 100%;
          padding: 6.25vw 0;
          height: auto;
          display: block !important;
          .cat{
            font-size: 3.75vw;
            letter-spacing: 0.375vw;
          }
          .title{
            font-size: 8.75vw;
            margin: 4.6875vw 0;
          }
          .more{
            font-size: 4.6875vw;
            letter-spacing: 0.46vw;
          }
        }
      }
    }
  }

  .section-4{
    min-height: 0;
    .test{
      padding: 13.125vw 0 18.75vw;
      .top-line{
        display: block;
        .logo{
          display: none;
        }
        .title{
          margin-left: 0;
          display: block;
          .big{
            line-height: 0.8;
            font-size: 14.0625vw;
          }
          .small{
            font-size: 4.6875vw;
            letter-spacing: 0.46875vw;
            margin-left: 0;
            margin-top: 6.25vw;
          }
        }
      }

      .counter{
        margin-top: 8.4375vw;
        font-size: 3.75vw;
        letter-spacing: 0.375vw;
      }
      .test-main{
        margin-top:  3.125vw;
        .img-block{
          height: 60vw;
          width: 100%;
          img{
            &.img1{left: 17.468vw; top: 10.0464vw; width: 46.25vw;}
            &.img2{left: 0; top: 4.97798vw; width: 61.636vw;}
            &.img3{left: 57.111vw; top: 32.4926vw; width: 18.2827vw;}
            &.img4{left: 43.53473vw; top: 3.07729vw; width: 41vw;}
            &.img5{left: 41.0909vw; top: 24.7089vw; width: 35.2079vw;}
            &.img6{left: 13.30479vw; top: 0; width: 39.6428vw;}
            &.img7{left: 0.72395vw; top: 20.636vw; width: 46.974vw;}
          }
        }
        .btns{
          display: flex;
          justify-content: space-around;
          margin-bottom: 12.5vw;
          margin-top: 3.4375vw;
        }
        .right,
        .left{
          width: 37.5vw;
          min-height: 12.5vw;
          font-size: 4.6875vw;
          position: static;
          &:hover{
            border-color: #00172a;
          }
        }
      }
    }
    .results{
      padding: 13.125vw 0 18.75vw;
      .logo{
        display: none;
      }

      .title-mobile{
        font-size: 4.6875vw;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.46875vw;
        span{
          display: block;
          color: #00202b;
          font-family: $font2;
          font-size: 14.0625vw;
          font-weight: 400;
          line-height: 14.246875vw;
          text-transform: uppercase;
        }
      }

      .left{
        position: static;
        width: 100%;
        margin: 4.6875vw auto 0;
        .img-block{
          height: 60vw;
          img{
            &.img1{left: 17.468vw; top: 10.0464vw; width: 46.25vw;}
            &.img2{left: 0; top: 4.97798vw; width: 61.636vw;}
            &.img3{left: 57.111vw; top: 32.4926vw; width: 18.2827vw;}
            &.img4{left: 43.53473vw; top: 3.07729vw; width: 41vw;}
            &.img5{left: 41.0909vw; top: 24.7089vw; width: 35.2079vw;}
            &.img6{left: 13.30479vw; top: 0; width: 39.6428vw;}
            &.img7{left: 0.72395vw; top: 20.636vw; width: 46.974vw;}
          }
        }
        .share{
          .label{
            margin-top: 3.75vw;
            font-size: 3.75vw;
            line-height: 1;
            letter-spacing: 0.375vw;
          }
          .social{
            justify-content: flex-end;
            a{
              +a{
                margin-left: 4.0625vw;
              }

              margin-top: 4.0625vw;
              width: 12.5vw;
              height: 12.5vw;
            }
          }
        }
      }
      .right{
        margin-left: 0;
        padding-top: 6.25vw;
        .title{
          display: none;
        }
        .text{
          margin-left: 0;
          margin-top: 0;
          font-size: 4.6875vw;
          line-height: 6.5625vw;
          >p{
            margin-bottom: 7.1875vw;
          }
          .other{
            letter-spacing: 0.46875vw;
          }
        }
      }
    }
  }

  .copy{
    padding: 5.625vw 0 25.552vw;
    .text{
      font-size: 3.75vw;
      letter-spacing: 0.375vw;
    }
    .disclaimer{
      margin-top: 6.25vw;
      font-size: 8.65832vw;
      line-height: 1;
      letter-spacing: 1vw;
    }
  }



  .fancybox-content.right{
    padding: 6.25vw;


    .cat{
      color: #7f8f95;
      font-size: 3.75vw;
      font-weight: 500;
      letter-spacing: 0.375vw;
      text-transform: uppercase;
    }
    .title{
      color: #00202b;
      font-size: 8.75vw;
      font-weight: 400;
      line-height: 1;
      margin: 6.25vw 0;
      a{
        color: #00202b;
        &:hover{
          color: #ff5900;
        }
      }
    }
    .more{
      display: none;
    }
    .text{
      display: block;
      color: #00202b;
      font-size: 3.75vw;
      font-weight: 400;
      line-height: 6.5625vw;
      p{
        margin-bottom: 5.3125vw;
        a{
          color: #00202b;
          border-bottom: 2px solid #ff5900;
          &:hover{
            border-color: transparent;
          }
        }
        span{
          border-bottom: 2px solid #ff5900;
        }
      }
    }
    .share{
      display: flex;
      align-items: center;
      .label{
        font-weight: 500;
        font-size: 3.75vw;
        text-transform: uppercase;
        letter-spacing: 0.375vw;
        &::after{
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 25.9375vw;
          height: 1px;
          background: #000000;
          margin-left: 3.75vw;
        }
      }
      .social{
        display: flex;
        align-items: center;
        margin-left: 3.75vw;
        a{
          +a{
            margin-left: 5.9375vw;
          }
          display: block;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          height: 5.3125vw;
          &.vk{width: 5.3125vw; background-image: url("../img/soc-vk.png");}
          &.fb{width: 2.5vw; background-image: url("../img/soc-fb.png");}
          &.tw{width: 4.375vw; background-image: url("../img/soc-tw.png");}
        }
      }
    }
  }
}

